<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMxpmsSearchEquipmentLabel">Create or edit a Mxpms Search Equipment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!mxpmsSearchEquipment.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="mxpmsSearchEquipment.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_objId" ngbTooltip="The firstname attribute.">Obj Id</label>
            <input type="text" class="form-control" name="objId" id="field_objId"
                [(ngModel)]="mxpmsSearchEquipment.objId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="mxpmsSearchEquipment.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_pid">Pid</label>
            <input type="text" class="form-control" name="pid" id="field_pid"
                [(ngModel)]="mxpmsSearchEquipment.pid" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_haschildren">Haschildren</label>
            <input type="text" class="form-control" name="haschildren" id="field_haschildren"
                [(ngModel)]="mxpmsSearchEquipment.haschildren" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_imgurl">Imgurl</label>
            <input type="text" class="form-control" name="imgurl" id="field_imgurl"
                [(ngModel)]="mxpmsSearchEquipment.imgurl" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_treeid">Treeid</label>
            <input type="text" class="form-control" name="treeid" id="field_treeid"
                [(ngModel)]="mxpmsSearchEquipment.treeid" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_exvalue">Exvalue</label>
            <input type="text" class="form-control" name="exvalue" id="field_exvalue"
                [(ngModel)]="mxpmsSearchEquipment.exvalue" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nodemodel">Nodemodel</label>
            <input type="text" class="form-control" name="nodemodel" id="field_nodemodel"
                [(ngModel)]="mxpmsSearchEquipment.nodemodel" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_itemtype">Itemtype</label>
            <input type="text" class="form-control" name="itemtype" id="field_itemtype"
                [(ngModel)]="mxpmsSearchEquipment.itemtype" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_orderid">Orderid</label>
            <input type="text" class="form-control" name="orderid" id="field_orderid"
                [(ngModel)]="mxpmsSearchEquipment.orderid" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nodewhbz">Nodewhbz</label>
            <input type="text" class="form-control" name="nodewhbz" id="field_nodewhbz"
                [(ngModel)]="mxpmsSearchEquipment.nodewhbz" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nodeyxzt">Nodeyxzt</label>
            <input type="text" class="form-control" name="nodeyxzt" id="field_nodeyxzt"
                [(ngModel)]="mxpmsSearchEquipment.nodeyxzt" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_orgid">Orgid</label>
            <input type="text" class="form-control" name="orgid" id="field_orgid"
                [(ngModel)]="mxpmsSearchEquipment.orgid" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_bzname">Bzname</label>
            <input type="text" class="form-control" name="bzname" id="field_bzname"
                [(ngModel)]="mxpmsSearchEquipment.bzname" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
