<div>
    <h2>
        <span>Tb ES</span>
        <button class="btn btn-primary float-right jh-create-entity create-tb-e-my-suffix" [routerLink]="['/', { outlets: { popup: ['tb-e-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Tb E
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tbES">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="colFileName"><span>Col File Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="colFileType"><span>Col File Type</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let tbE of tbES ;trackBy: trackId">
                <td><a [routerLink]="['../tb-e-my-suffix', tbE.id ]">{{tbE.id}}</a></td>
                <td>{{tbE.colFileName}}</td>
                <td>{{tbE.colFileType}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tb-e-my-suffix', tbE.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tb-e-my-suffix/'+ tbE.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tb-e-my-suffix/'+ tbE.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
