
<div *ngIf="tbE">
    <h2><span>Tb E</span> {{tbE.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Col File Name</span></dt>
        <dd>
            <span>{{tbE.colFileName}}</span>
        </dd>
        <dt><span>Col File Type</span></dt>
        <dd>
            <span>{{tbE.colFileType}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tb-e-my-suffix/'+ tbE.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
